!!! 5
html
  head
    title= title
    style(type='text/css')
      #map {
        width:800px;
        height:500px;
      }
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBOhL6IGjYCXrYlIsf0IYG5VB-yYeUl8WY&sensor=false')
  body!= body
